.box{
    height: 150px;
    width: 1000px;
    border: 2px solid black;
    box-shadow: 5px 5px 3px grey;
    margin-bottom: 15px;    
}

.box:hover{
    height: 160px;
    width: 1050px;
    /* border: 3px solid grey; */
    border-bottom: 5px solid grey;
    border-radius: 10px;
}

img{
    height: 148px;
    width: 300px;    
}
h3{
    color: #ec195a;
    font-weight: 500;
}
