body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
}

#logo {
    height: 40px;
    width: 50px;
}

h1 {
    font-family: Impact, 'Arial Narrow Bold';
    color: #F0A500;
}

.colorChange {
    color: #A91D3A;
    animation-name: example;
    animation-duration: 1s;
}

@keyframes example {
    from {
        color: red;
    }

    to {
        color: #b730ac;
    }
}

.bgImg {
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
}

button {
    background-color: #ec195a;
    border: none;
    height: 40px;
    width: 100px;
    font-weight: 30px;
    border-radius: 10px;
}

i {
    color: white;
}

i:hover {
    color: red;
}

.active {
    color: #e93737 !important;
    border-bottom: solid;
}

h2 {
    font-family: cursive;
    font-style: oblique;

}

ul li {
    text-shadow: 0px 0px 1px whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 900;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    font-style: italic;
}

.myImg {
    height: 350px;
    width: 540px;
    border-radius: 20%;
    box-shadow: 0 0 10px 5px grey;
}

.name::first-letter {
    font-weight: 900;
    color: aqua;
}